{
  "extends": [
    "react-app",
    "react-app/jest"
  ],
  "plugins": ["unused-imports"],

  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "unused-imports/no-unused-imports": "error"

  }
}
